certifi
Click
Flask
Flask-Cors
gunicorn
itsdangerous
Jinja2
joblib
MarkupSafe
numpy
scikit-learn
six
Werkzeug
streamlit
pandas
Flask-Cors
pandas
matplotlib
seaborn
catboost
python-dateutil
regexp
python-dateutil
seaborn
matplotlib