<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Adult Census Income Prediction</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="title" content="Adult Census Income Prediction">
<meta name="author" content="Devansh">
<link rel="stylesheet" href="{{ url_for('static', filename='css/neumorphism.css') }}">
<link rel="javascript" href="{{ url_for('static', filename='js/neumorphism.js') }}">
</head>
<body>
    <main>
        <section class="container-fluid py-3">
            <div class="row justify-content-md-around">
                <body class="col-11">
                     <div class="card bg-primary shadow-soft border-light px-4 py-4">
                        <div class="card-header pb-0 text-center">
                            <h2 class="h1 mb-3">Adult Census Income Prediction</h2>
                            <p class="mb-5 lead">
                                Enter Details for forecast.
                            </p>
                        </div>
                        <form name="frmregi" action="/result" method="POST">


			<div class="col-lg-12 col-lg-13">
				<div class="form-group">
					<label>Sex</label>
					<div class="input-group col-lg-12">
						<select class="custom-select col-lg-12 col-lg-12" id="gender_class" name="gender_class" required>
							<option value="0" selected>male</option>
							<option value="1">female</option>
						</select>
					</div>
			</div>
			 <div class="row mb-4 mb-lg-5">
                                <div class="col-lg-4 col-sm-6">
                                    <div class="form-group">
                                        <label>Age</label>
                                        <div class="input-group mb-4">
                                            <input class="form-control" type="number" id="age" name="age" required min="1" max="100">
                                        </div>
                                    </div>

								</div>
			 </div>

			<div class="form-group">
                                        <label class="my-1 mr-2" for="martial_stat">Marital Status</label>
                                        <select class="custom-select my-1 mr-sm-2" id="martial_stat" name="martial_stat" required>
                                            <option value="3" selected>divorced</option>
											<option value="1">Never_married</option>
											<option value="2">Married_civ_spouse</option>
											<option value="4">Married-spouse-absent</option>
											<option value="5">seperated</option>
											<option value="6">Married-AF-Spouse</option>
											<option value="7">Widowed</option>

                                        </select>
                                    </div>

			<div class="col-lg-4 col-sm-6">
                                    <div class="form-group">
                                        <label class="my-1 mr-sm-2" >workclass</label>
                                        <select class="custom-select my-1 mr-sm-2" id="w-class" name="w_class" required>
                                            <option value="0" selected>Federal-gov</option>
											<option value="1">Local-gov</option>
											<option value="2">Never-worked</option>
											<option value="3">Private</option>
											<option value="4">Self-emp-inc</option>
											<option value="5">Self-emp-not-inc</option>
											<option value="6">State-gov</option>
											<option value="7">Without-pay</option>
                                        </select>
                                    </div>
			</div>

			<div class="col-lg-4 col-sm-6">
                                    <div class="form-group">
                                        <label class="my-1 mr-2" for="race">Race</label>
                                        <select class="custom-select my-1 mr-sm-2" id="race" name="race" required>
                                            <option value="4" selected>Amer Indian Eskimo</option>
											<option value="3">Asian Pac Islander</option>
											<option value="2">Black</option>
											<option value="5">Other</option>
											<option value="1">White</option>
                                        </select>
                                    </div>

			</div>

			<div class="form-group">
                                        <label class="my-1 mr-2" for="occup">Occupation</label>
                                        <select class="custom-select my-1 mr-sm-2" id="occup" name="occup" required>
                                            <option value="1" selected>Adm-clerical</option>
											<option value="14">Armed-Forces</option>
											<option value="7">Craft-repair</option>
											<option value="2">Exec-managerial</option>
											<option value="9">Farming-fishing</option>
											<option value="3">Handlers-cleaners</option>
											<option value="10">Machine-op-inspect</option>
											<option value="5">Other-service</option>
											<option value="15">Priv-house-serv</option>
											<option value="4">Prof-specialty</option>
											<option value="13">Protective-serv</option>
											<option value="6">Sales</option>
											<option value="11">Tech-support</option>
											<option value="12">6</option>
											<option value="8">Transport-moving</option>
                                        </select>
                                    </div>
			<div class="form-group">
                                        <label class="my-1 mr-2" for="country">Country</label>
                                        <select class="custom-select my-1 mr-sm-2" id="country" name="country" required>
                                            <option value="18">Cambodia</option>
											<option value="11">Canada</option>
											<option value="29">China</option>
											<option value="17">Columbia</option>
											<option value="2">Cuba</option>
											<option value="25">Dominican Republic</option>
											<option value="20">Ecuador</option>
											<option value="26">El Salvadorr</option>
											<option value="10">England</option>
											<option value="27">France</option>
											<option value="12">Germany</option>
											<option value="36">Greece</option>
											<option value="28">Guatemala</option>
											<option value="23">Haiti</option>
											<option value="42">Holand-Netherlands</option>
											<option value="9">Honduras</option>
											<option value="39">Hong</option>
											<option value="41">Hungary</option>
											<option value="4">India</option>
											<option value="13">Iran</option>
											<option value="40">Ireland</option>
											<option value="15">Italy</option>
											<option value="3">Jamaica</option>
											<option value="30">Japan</option>
											<option value="21">Laos</option>
											<option value="6">Mexico</option>
											<option value="37">Nicaragua</option>
											<option value="33">Outlying-US(Guam-USVI-etc)</option>
											<option value="32">Peru</option>
											<option value="14">Philippines</option>
											<option value="16">Poland</option>
											<option value="24">Portugal</option>
											<option value="8">Puerto-Rico</option>
											<option value="34">Scotland</option>
											<option value="7">South</option>
											<option value="22">Taiwan</option>
											<option value="19">Thailand</option>
											<option value="35">Trinadad&Tobago</option>
											<option value="1" selected>United States</option>
											<option value="38">Vietnam</option>
											<option value="31">Yugoslavia</option>
											<option value="5">6</option>
                                        </select>
                                    </div>
			<div class="form-group">
                                        <label class="my-1 mr-2" for="relation">Relationship</label>
                                        <select class="custom-select my-1 mr-sm-2" id="relation" name="relation" required>
                                            <option value="2" selected>Husband</option>
											<option value="1">Not-in-family</option>
											<option value="6">Other-relative</option>
											<option value="4">Own-child</option>
											<option value="5">Unmarried</option>
											<option value="3">Wife</option>
                                        </select>
                                    </div>


            <div class="form-group">
                                        <label class="my-1 mr-2" for="edu">Education</label>
                                        <select class="custom-select my-1 mr-sm-2" id="edu" name="edu" required>
                                            <option value="14" selected>10th</option>
											<option value="3">11th</option>
											<option value="16">12th</option>
											<option value="15">1st-4th</option>
											<option value="13">5th-6th</option>
											<option value="9">7th-8th</option>
											<option value="5">9th</option>
											<option value="7">Assoc-acdm</option>
											<option value="8">Assoc-voc</option>
											<option value="1">Bachelors</option>
											<option value="10">Doctorate</option>
											<option value="2">HS-grad</option>
											<option value="4">Masters</option>
											<option value="13">Preschool</option>
											<option value="12">Prof-school</option>
											<option value="6">16 - Some-college</option>
	                                        </select>
                                    </div>
			<div class="form-group">
                                        <label for="education_num">education_num btw:[1-13]</label>
                                        <div class="input-group mb-4">
                                            <input class="form-control" type="number" id="education_num" name="education_num" required min="1" max="13">
                                        </div>
                                    </div>
			<div class="form-group">
                                        <label for="fnlwgt">fnlwgt btw:[12285-1484705]</label>
                                        <div class="input-group mb-4">
                                            <input class="form-control" type="number" id="fnlwgt" name="fnlwgt" required min="12285" max="1484705">
                                        </div>
                                    </div>
			<div class="form-group">
                                        <label for="c_gain">Capital Gain btw:[0-99999]</label>
                                        <div class="input-group mb-4">
                                            <input class="form-control" type="number" id="c_gain" name="c_gain" required min="0" max="99999">
                                        </div>
                                    </div>
			<div class="form-group">
                                        <label for="c_loss">Capital Loss btw:[0-4356]</label>
                                        <div class="input-group mb-4">
                                            <input class="form-control" type="number" id="c_loss" name="c_loss" required min="0" max="4356">
                                        </div>
			</div>
                                    <div class="form-group">
                                        <label for="hours_per_week">hours-per-week btw:[1-99]</label>
                                        <div class="input-group mb-4">
                                            <input class="form-control" type="number" id="hours_per_week" name="hours_per_week" required min="0" max="99">
                                        </div>
                                    </div>
			</div>
            </div>
                                <div class="col-lg-12 col-sm-6">
                                    <center style="color: blue;font-weight: bold;">{{ prediction_text }}</center>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-block btn-primary" onclick="last()">Predict</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
</main>
</body>
</html>